body{
	margin: 0 auto;
	background: linear-gradient(#5b1715,#a31e1a);
	background-repeat: no-repeat;
}

.fondoleft{
	width: 449px;
	height: 504px;
	position: absolute;
	top: 828px;
	opacity: .40;
	background-image: url(../img/fondo1.png);
}

.fondoright{
	width: 449px;
	height: 504px;
	position: absolute;
	top: 828px;
	left: 814px;
	opacity: .40;
	background-image: url(../img/fondo2.png);
}

.caja{
	width: 1024px;
	height: 1329px;
	margin: 0 auto;
	border: 1px solid;
}

.header{
	width: 1024px;
	height: 310px;
	margin: 0 auto;
}

.logo{
	position: relative;
	top: 30px;
	left: 20px;
	width: 205px;
	height: 218px;
	background-image: url(../img/Logo.png);
}

.eslogan{
	position: absolute;
	top: 36px;
	margin-left: 280px;
	font-family: Helvetica;
	font-style: oblique;
	font-size: 18px;
	color: #ffffff;
}

.pedido{
	position: absolute;
	top: 15px;
	margin-left: 830px;
	width: 160px;
	height: 40px;
	border: 1px solid;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	box-shadow: 2px 2px 4px #000000;
}

.titulos a{
	position: relative;
	font-family: "Snap ITC";
	font-size: 16px;
	color: #ffffff;
	left: 9px;
	top: 7px;
	text-decoration: none;
}

*{
	margin:0;
	padding:0;
}

#slide{
	position: absolute;
	top: 70px;
	margin-left: 240px;
	width: 760px;
	height: 230px;
	background-color: #D3D3D3;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	box-shadow: 1px 1px 4px #000000;
	opacity: .10;
}

#slideshow{
	position: absolute;
	top: 70px;
	margin-left: 240px;
	width: 760px;
	height: 230px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

#slideshow ul{
	height:210px;
	left:10px;
	list-style:none outside none;
	overflow:hidden;
	position:absolute;
	top:10px;
	width:740px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

#slideshow li{
	position:absolute;
	display:none;
	z-index:10;
}

#slideshow li:first-child{
	display:block;
	z-index:1000;
}

#slideshow .slideActive{
	z-index:1000;
}

#slideshow canvas{
	display:none;
	position:absolute;
	z-index:100;
}

#slideshow .arrow{
	height:86px;
	width:60px;
	position:absolute;
	background:url(../img/arrows.png) no-repeat;
	top:50%;
	margin-top:-43px;
	cursor:pointer;
	z-index:5000;
	opacity: .50;
}

#slideshow .previous{ background-position:left top;left:0;}
#slideshow .previous:hover{ background-position:left bottom;}

#slideshow .next{ background-position:right top;right:0;}
#slideshow .next:hover{ background-position:right bottom;}


