footer {
	height: 320px;
	width: 1024px;
	position: absolute;
	top: 1009px; 
/*	border: 1px solid;*/
}

.caja_fotos_izq{
	float: left;
/*	border: 1px solid ;*/
	margin-top: 20px;
}

.imagen {
	position: relative;
	width: 133px;
	height: 273px;
	float: left;
	background-image: url(../img/Foto_Jquery2.png);
	background-repeat: no-repeat;
	border: 5px solid #a31e1a;
	border-radius: 5px;
	margin-left: 20px;
}

.caja_texto_der{
	width: 360px;
	height: 298px;
	margin-top: 20px;
	float:right;
/*	border: 1px solid ;*/
}

.caja_redes{
/*	border: 1px solid;*/
	margin-top: 80px;
	margin-left:100px;
	width: 260px;
	height: 100px;
}

.twt{
	position: absolute;
	width: 38px;
	height: 38px;
	background-image: url(../img/twitter.png);	
	float: left;
/*	border: 1px solid;*/
}

a.texto_redes{
	position: relative;
	text-decoration: none;
	/*top: 20px;*/
	left: 50px;
	font-family: Helvetica;
	font-size: 18px;
	line-height: 50px;
	color: #ffffff;
}

a.texto_redes:hover{
	color: #65c8e8;
}

a.texto_redes:active{
	text-decoration: underline;
}

a.texto_redes:visited:after{
	content: "(Ya Visitado)";
	color: #65c8e8;
	text-decoration: underline;
}

.face{
	position: absolute;
	width: 38px;
	height: 38px;
	/*margin-top: 40px;*/
	background-image: url(../img/face.png);
	float: left;
/*	border: 1px solid ;*/
}

.nav{
	list-style: none;
	text-decoration: none;
	font-family: Helvetica;
	font-size: 16px;
	margin-top: 60px;
	margin-left: 30px;
}

.nav > li{
	float: left;
}

.nav li a{
	color: #ffffff;
	display: block;
/*	border-right: 2px solid;*/
	padding-right: 2.5px;
	padding-left: 2.5px;
}

.nav li a:hover{
	color: #65c8e8;
}

.copyright{
	font-family: Helvetica;
	color: #ffffff;
	font-size: 15px;
	text-align: right;
	margin-right: 2px;
}

